<!DOCTYPE html>
<html ng-app="QJarvisApp" ng-controller="AppController">

<head>
    <meta charset="UTF-8">
    <title>{{htmlTitle}}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <link href="css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="css/qjarvis.global.css" rel="stylesheet" type="text/css" />
    <link href="css/qjarvis.controls.filter.css" rel="stylesheet" type="text/css" />
    <link href="css/qjarvis.controls.listview.css" rel="stylesheet" type="text/css" />
    <link href="css/qjarvis.controls.selectkey.css" rel="stylesheet" type="text/css" />
    <link href="css/qjarvis.controls.chat.css" rel="stylesheet" type="text/css" />
    <link href="css/qj.project.css" rel="stylesheet" type="text/css" />

</head>

<body class="skin-black">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="./" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Quadramander
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div ui-view="nav"></div>
        </nav>
    </header>
    <div class="qj wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->

        <aside class="left-side sidebar-offcanvas">
            <div ui-view="sidebar"></div>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <div class="qj module container-fluid" ui-view></div>
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->

    <footer class="qjfooter">
        <div class="qjcopyright">
            ックハルビス © 2014;
        </div>
        
    </footer>

   <qjapiinfo></qjapiinfo>





    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="lib/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="lib/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="lib/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="lib/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <script src="lib/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="lib/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
    <script src="lib/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="lib/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <script src="lib/store.js"></script>
    
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    
    <script src="lib/ui-utils.min.js"></script>
    <script src="lib/ui-utils-ieshiv.min.js"></script>
    

    <script src="js/AdminLTE/app.js" type="text/javascript"></script>
    <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>
    <script src="js/AdminLTE/demo.js" type="text/javascript"></script>
    
    <script src="js/config/QJarvisApp.js"></script>
    <script src="js/modules/QJLoginModule.js"></script>
    <script src="js/modules/QJConfigModule.js"></script>
    <script src="js/modules/QJApiModule.js"></script>
    <script src="js/modules/QJRouteModule.js"></script>
    <script src="js/modules/QJHelperFunctionsModule.js"></script>
    <script src="js/modules/QJErrorHandlerModule.js"></script>
    <script src="js/modules/QJLoggerModule.js"></script>
    <script src="js/modules/QJControlsModule.js"></script>
    <script src="js/modules/QJChatModule.js"></script>
    <script src="js/modules/QJSettingsModule.js"></script>
    <script src="js/modules/QJDirectives.js"></script>
    <script src="js/modules/crud/QJProjectModule.js"></script>
    <script src="js/modules/crud/QJProjectHoursModule.js"></script>
    <script src="js/modules/crud/QJUserModule.js"></script>
    <script src="js/modules/crud/QJMenuModule.js"></script>
    <script src="js/modules/crud/QJProfileModule.js"></script>
    <script src="js/modules/crud/QJUsergroupModule.js"></script>
    
    <script src="js/modules/vipster/QJVipsterModule.js"></script>

    <!-- ANGULAR-DATETIMEPICKER>
    -->
    <script type="text/javascript" src="lib/moment-with-langs.min.js"></script>
    <script type="text/javascript" src="lib/datetimepicker.js"></script>
</body>
</html>
